﻿#brand-icon {
    height: 40px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: auto;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
}

.ranking-factor {
    margin-top: 10px;
    padding-left: 10px;
}

.ranking-factor-status-good {
    border-left: solid green;
}

.ranking-factor-status-info {
    border-left: solid grey;
}
.ranking-factor-status-warning {
    border-left: solid orange;
}

.ranking-factor-status-bad {
    border-left: solid red;
}

.ranking-factor-value-good {
    color: green;
}

.ranking-factor-value-info {
    color: black;
}

.ranking-factor-value-warning {
    color: orange;
}

.ranking-factor-value-bad {
    color: red;
}

.arrow-btn:hover {
    background-color: #dc3c3c;
}

a > i:hover {
    color: #dc3c3c;
}

.arrow-btn:active {
    background-color: #B12D3D !important;
}

a > i:active {
    color: #B12D3D;
}



.ranking-factor-title::after {
    content: ":";
}

.side-nav-item {
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .side-nav-item {
        font-size: 13px;
    }
}

@media screen and (max-width: 992px) {
    .main-content {
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        margin-left: 16px !important;
    }
}

.url-textbox {
    color: #343a40;
    padding: 10px;
}

.arrow-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #851e3e;
    border: 0;
}

.form-inline {
    margin: 20px auto;
    /*// display: block;*/
    text-align: center;
    justify-content: center;
    width: 400px;
}

#video {
    max-width: 60%;
    margin: 0 auto;
    /*// display: block;*/
    text-align: center;
}

@media (max-width: 700px) {
    #video {
        max-width: 80%;
    }
}

@media (max-width: 580px) {
    #video {
        max-width: 80%;
    }

    .arrow-btn {
        margin-top: 5px;
    }

    .url-entry {
        margin-bottom: 10px;
    }

    .url-text-input {
        font-size: 20px;
    }
}

.navbar-brand {
    padding-left: 0px;
}

.navbar {
    height: 70px;
    font-size: 1.1em;
}

.nav-link {
    margin-left: 5px;
}

.navbar-collapse {
    float: right;
    width: 100%;
}

.navbar-collapse {
    margin-right: -16px;
    margin-left: -16px;
}

.navbar {
    z-index: 9999;
    border-bottom: 1px;
}

.navbar-nav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    min-width: 100%;
    border-top: 1px solid #251e3e;
    background-color: #251e3e;
}

.bg-cloudy-red {
    /*// #051e3e • #251e3e • #451e3e • #651e3e • #851e3e*/ 
      background-color: #251e3e;
}

.jumbotron {
    /*// background-image:*/ 
        height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    /*// background-repeat: no-repeat;*/
    /*// background-attachment: scroll;*/
    background-position: center center;
    background: linear-gradient(#251e3e, rgba(255, 0, 0, 0.45)), url("https://images.pexels.com/photos/970198/pexels-photo-970198.jpeg?cs=srgb&dl=book-data-graph-970198.jpg&fm=jpg");
    min-height: 700px;
    /*// #051e3e • #251e3e • #451e3e • #651e3e • #851e3e*/ 
        border-radius: 0px 0px 8px 8px;
}

    .jumbotron .container {
        padding-top: 100px;
    }

body {
    background: #ffffff;
}

.cards-row {
    margin-bottom: 10px;
}

.li-ic,
.ins-ic,
.gplus-ic,
.tw-ic,
.fb-ic {
    color: rgba(255, 60, 60, 0.75);
}

.red-link {
    color: rgba(220, 60, 60, 1);
}

    .li-ic:hover,
    .ins-ic:hover,
    .gplus-ic:hover,
    .tw-ic:hover,
    .fb-ic:hover,
    .red-link:hover {
        color: #851e3e;
    }

.googleSnippet{
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}
.googleSnippetTitle {
    font-size: medium;
    font-family: Arial;
    color: #0000cc;
    text-decoration: underline;
    cursor: pointer;
}
.googleSnippetDescription{
    color: black;
}

.googleSnippetUrl{
    color: green;
    font-style: normal;
}