﻿@using CloudySEO_MVC.Classes
@using System.Collections.Concurrent
@{
    ViewData["Title"] = "Analysis";
}

<section class="mt-3">
    <div class="row ml-5 mb-5 main-container">

        <!-- SIDENAV START-->
        <div class="col-md-3 col-lg-3 col-xl-2 pb-2">
            <nav class="bg-light sidebar d-none d-lg-block pt-2 pb-4 rounded">
                <div class="sidebar-sticky">
                    @foreach (var category in ViewData["Rankings"] as ConcurrentBag<RankingCategory>)
                    {
                        var categoryString = category.title.Replace(" ", String.Empty);
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-dark" data-toggle="collapse" data-target="#@(categoryString)Collapse">
                            <span>@category.title</span>
                            <a class="d-flex text-muted">
                                <i class="fas fa-angle-down"></i>
                            </a>
                        </h6>
                        <div class="collapse show" id="@(categoryString)Collapse">
                            <ul class="nav flex-column mb-2">
                                @foreach (var rankingSubCategory in category.subcategories as HashSet<RankingSubcategory>)
                                {
                                    var rankingSubCategoryString = rankingSubCategory.title.Replace(" ", String.Empty);
                                    <li class="nav-item side-nav-item">
                                        <a class="nav-link text-secondary" href="#@(rankingSubCategoryString)">
                                            <span data-feather="file-text"></span>
                                            @rankingSubCategory.title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </nav>
        </div>
        <script>
            $('.collapse').on('shown.bs.collapse', function () {
                $(this).prev().find(".fa-angle-up").addClass("fa-angle-down").removeClass("fa-angle-up");
            });
            $('.collapse').on('hidden.bs.collapse', function () {
                $(this).prev().find(".fa-angle-down").addClass("fa-angle-up").removeClass("fa-angle-down");
            });
        </script>
        <!-- SIDENAV END-->
        <!-- MAIN CONTENT START-->
        <div class="col-md-12 col-lg-9 col-sm-12 pr-5">
            <div class="row justify-content-left main-content">
                @if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger w-100" role="alert">
                        @ViewData["ErrorMessage"]
                    </div>
                }
                <form class="url-entry col-md-12 col-sm-12" name="urlForm" action="/analyze" method="get" onsubmit="return validateUrl()">
                    <div class="row">
                        <div class="col-xl-8 col-lg-9 col-sm-8 col-md-9 pr-0 pl-0">
                            <input name="url" class="w-100 h-100 form-control url-text-input" value="@ViewData["url"]" required>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 pl-0 pr-0">
                            <button class="btn btn-primary arrow-btn w-100 mh-100 h-100" type="submit">Submit<i class="fas fa-angle-right pl-3"></i></i></button>
                        </div>
                        <div class="col-xl-2 d-none d-xl-block mt-2">
                            <a href="#" class="text-secondary"><i class="fas fa-sync-alt fa-fw align-middle fa-lg" style="line-height: inherit;" onclick="window.location.reload()"></i></a>
                            <a href="#" class="text-secondary"><i class="fas fa-print fa-fw align-middle fa-lg" style="line-height: inherit;" onclick="window.print();"></i></a>
                            <!--<a href="#" class="text-secondary"><i class="fas fa-share-alt fa-fw align-middle fa-lg" style="line-height: inherit;"></i></a>-->
                        </div>
                    </div>
                </form>
                @foreach (var category in ViewData["Rankings"] as ConcurrentBag<RankingCategory>)
                {
                    var categoryString = category.title.Replace(" ", String.Empty);
                    <div class="ranking-category card mt-3 w-100">
                        <div class="card-header w-100" data-toggle="collapse" data-target="#collapse@(categoryString)Info">
                            <h4>@category.title</h4>
                        </div>
                        <div class="collapse show" id="collapse@(categoryString)Info">
                            <ul class="list-group list-group-flush">
                                @foreach (var rankingSubCategory in category.subcategories as HashSet<RankingSubcategory>)
                                {
                                    var rankingSubCategoryString = rankingSubCategory.title.Replace(" ", String.Empty);
                                    <li class="ranking-subcategory list-group-item" id="@rankingSubCategoryString">
                                        <h5 class="ranking-subcategory-title">@rankingSubCategory.title</h5>
                                        @foreach (var rankingFactor in rankingSubCategory.factors as HashSet<RankingFactor>)
                                        {
                                            var rankingFactorString = rankingFactor.title.Replace(" ", String.Empty);
                                            if (rankingFactor.status != null && rankingFactor.value != null)
                                            {
                                                <div class="ranking-factor ranking-factor-status-@(rankingFactor.status.ToLower())" data-toggle="collapse" href="#@(rankingSubCategoryString)@(rankingFactorString)CollapseCard">
                                                    <span class="ranking-factor-title mr-3">@rankingFactor.title</span>
                                                    <span class="ranking-factor-value text-muted">@rankingFactor.value</span>
                                                </div>
                                                if (rankingFactor.meaning != null && rankingFactor.meaning != "")
                                                {
                                                    <div class="collapse" id="@(rankingSubCategoryString)@(rankingFactorString)CollapseCard">
                                                        <div class="card card-body ml-3">
                                                            @rankingFactor.meaning
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        @foreach (var multivaluedfactor in rankingSubCategory.multivaluedFactors as HashSet<MultivaluedRankingFactor>)
                                        {
                                            var rankingFactorString = multivaluedfactor.title.Replace(" ", String.Empty);
                                            if (multivaluedfactor.status != null && multivaluedfactor.factorList != null && multivaluedfactor.factorList.Count > 0)
                                            {
                                                <div class="table-responsive ranking-factor" data-toggle="collapse" href="#@(rankingSubCategoryString)@(rankingFactorString)CollapseCard">
                                                    @*<h6 class="ranking-factor-title mr-3">@multivaluedfactor.title</h6>*@
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                @foreach (RankingFactor factor in multivaluedfactor.factorList.First() as List<RankingFactor>)
                                                                {
                                                                    <th scope="col">@(factor.title)</th> <!-- repeat for each heading -->
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{ var factorList = multivaluedfactor.factorList.ToList(); }
                                                            @{ factorList.Reverse(); }
                                                            @foreach (List<RankingFactor> element in factorList as List<List<RankingFactor>>)
                                                            {
                                                                <tr>
                                                                    @foreach (RankingFactor factor in element as List<RankingFactor>)
                                                                    {
                                                                        if (factor.value == null || factor.value.Trim().Equals(""))
                                                                        {
                                                                            <td class="ranking-factor-value-@(factor.status)">(none)</td> <!-- repeat for each heading -->
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="ranking-factor-value-@(factor.status)">@(factor.value)</td> <!-- repeat for each heading -->
                                                                        }
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                if (multivaluedfactor.meaning != null && multivaluedfactor.meaning != "")
                                                {
                                                    <div class="collapse" id="@(rankingSubCategoryString)@(rankingFactorString)CollapseCard">
                                                        <div class="card card-body ml-3">
                                                            @multivaluedfactor.meaning
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    </li>
                                }
                                @if (category.googleSnippet != null)
                                {
                                    <div class="googleSnippet">
                                        <h5 class="ranking-subcategory-title">Google Snippet Preview</h5>
                                        <div class="googleSnippetTitle">
                                            @(category.googleSnippet["title"])
                                        </div>
                                        <div class="googleSnippetDescription">
                                            @(category.googleSnippet["description"])
                                        </div>
                                        <div class="googleSnippetUrl">
                                            @(category.googleSnippet["url"])
                                        </div>
                                    </div>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- MAIN CONTENT END-->
</section>
