﻿@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The premiere tool for performing search engine optimization scans";
    ViewData["Keywords"] = $"SEO search engine optimization cloudyseo checker tool";
}

<header id="header">
    <div class="jumbotron">
        <div class="container">
            <h1>
                A Better Search Engine Optimizer
            </h1>

            <p>
                Search engines are evolving. You should evolve too.
            </p>
            <div class="row justify-content-center">
                <form class="url-entry col-lg-8 col-10" name="urlForm" action="/analyze" method="get" onsubmit="return validateUrl()">
                    <div class="row justify-content-center">
                        <input name="url" class="url-textbox col-12" placeholder="Enter a URL to scan" required>
                    </div>

                    <div class="row justify-content-center">
                        <button class="btn btn-primary arrow-btn col-12 mt-3" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Cards -->
    <section>
        <div class="container">
            <div class="row cards-row">
                <div class="col-md-4">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?cs=srgb&dl=advertising-alphabet-business-270637.jpg&fm=jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">What is Search Engine Optimization?</h5>
                            <p class="card-text">Search Engine Optimization (SEO) is the process of maximizing website traffic by showing up in the top search results of search engines like Google.</p>
                            <a href="https://moz.com/learn/seo/what-is-seo" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="https://images.pexels.com/photos/262569/pexels-photo-262569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Why does my site need Search Engine Optimization?</h5>
                            <p class="card-text">Being the first result significantly improves website traffic! By optimizing better than your competitors, you ensure more and consistent traffic.</p>
                            <a href="https://support.google.com/webmasters/answer/35291?hl=en" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="https://images.pexels.com/photos/256502/pexels-photo-256502.jpeg?cs=srgb&dl=alphabet-bright-business-256502.jpg&fm=jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Can't I just do Search Engine Optimization myself?</h5>
                            <p class="card-text">Search engines are growing exceedingly more complicated. Let an expert take care of that while you focus on your business.</p>
                            <a href="https://www.forbes.com/sites/steveolenski/2014/03/26/7-reasons-why-your-business-should-invest-in-seo/" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Video -->
    <section id="video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UC3N1plmoyU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section>
</header>